h1 {
	text-align: center;
	font-size: 40px;
	margin: 3cm 2cm 3cm;
}

p{
	text-align: center;
	margin: 3cm 2cm 3cm;
	font-size: 20px;
}

.header {
	background-color: black; 
}

.header h1 {
	color: white;
}